<div class="card card-block">
    <h4 class="card-title">Upcoming Events
        <a class="btn-floating primary-color float-xs-right" href=""><i class="fa fa-plus"></i></a>
    </h4>
    <ul class="list-group">
        {% for event in upcoming_events_and_dates|slice:":10" %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-8">{{ event.name }}</div>
                    <div class="col-xs-4">{{ event.something }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>