{% load family_helper %}
{% load cloudinary %}
<ul class="list-group">
    {% for post in posts %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2">
                    <div class="view overlay">
                        <img class="img-thumbnail waves-effect"
                             src="{{ post.member.photo.profile_url }}"
                             alt="{{ post.member.photo.name }}">
                        <div class="mask waves-effect waves-light"></div>
                    </div>
                </div>

                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-lg-9">
                            {% if post.photo or post.multiphoto %}
                                <div class="view overlay hm-white-slight">
                                    {% if post.photo %}
                                        <a href="{{ post.photo.image.path.url }}" data-lightbox="lightbox-{{ post.id }}">
                                            <img src="{{ post.photo.image.small_url }}"
                                                 class="img-fluid"
                                                 alt="{{ post.photo.image.name }}">
                                        </a>
                                    {% else %}
                                        {% for image in post.multiphoto.images.all %}
                                            <figure class="col-md-4 col-sm-6 col-xs-12 multiphoto-figure
                                                        {% if forloop.counter > 9 %}
                                                            hidden-xl-down
                                                        {% elif forloop.counter > 4 %}
                                                            hidden-sm-down
                                                        {% elif forloop.counter > 1 %}
                                                            hidden-xs-down
                                                        {% endif %}
                                                        ">
                                                <a href="{{ image.path.url }}" data-lightbox="lightbox-{{ post.id }}">
                                                    <img src="{{ image.small_url }}" class="img-fluid"/>
                                                </a>
                                            </figure>
                                        {% endfor %}

                                    {% endif %}
                                </div>
                            {% endif %}
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                        <div class="col-lg-3 small">
                            <span>{{ post.member }}</span>
                            <br/>
                            <span>{{ post.posted_at|timesince_short }} ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% include "book/global/pagination.html" with pages=posts %}