{% load family_helper %}
<ul class="list-group">
    {% for post in posts %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2">
                    <div class="view overlay">
                        <img class="img-thumbnail waves-effect"
                             src="{{ post.member.photo.path.url }}"
                             alt="{{ post.member.photo.name }}">
                        <div class="mask waves-effect waves-light"></div>
                    </div>
                </div>

                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-lg-9">
                            {% if post.photo or post.multiphoto %}
                                <div class="view overlay hm-white-slight">
                                    {% if post.photo %}
                                        <img src="{{ post.photo.image.path.url }}"
                                             class="img-fluid"
                                             alt="{{ post.photo.image.name }}">
                                    {% else %}
                                        <div id="mdb-lightbox-ui"></div>
                                        <div class="mdb-lightbox no-margin">
                                            {% for image in post.multiphoto.images.all %}
                                                <figure class="col-md-4 col-sm-6 col-xs-12
                                                                        {% if forloop.counter > 9 %}
                                                                            hidden-xl-down
                                                                        {% elif forloop.counter > 4 %}
                                                                            hidden-sm-down
                                                                        {% elif forloop.counter > 1 %}
                                                                            hidden-xs-down
                                                                        {% endif %}
                                                                        ">
                                                    <a href="{{ image.url }}"
                                                       data-size="{{ image.path.width }}x{{ image.path.height }}">
                                                        <img src="{{ image.path.url }}"
                                                             class="img-fluid">
                                                    </a>
                                                </figure>
                                            {% endfor %}
                                        </div>

                                    {% endif %}
                                    <a href="{{ post.photo.image.url }}">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                            {% endif %}
                            <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        </div>
                        <div class="col-lg-3 small">
                            <span>{{ post.member }}</span>
                            <br/>
                            <span>{{ post.posted_at|timesince_short }} ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% include "book/global/pagination.html" with pages=posts %}