{% load static %}
{% load family_helper %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A private, customizable family social website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Family Book{% endblock %}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          rel="stylesheet"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
          rel="stylesheet">
    <link href="{% static "book/css/mdb.min.css" %}"
          integrity="sha384-0aWsTi0rfUiiwvL3E5eShOpHjBLTw6v1pno460ZRyMx+TZD0vKFPLHXZPB2+HxyU"
          rel="stylesheet">
    <link href="{% static "book/css/lightbox.css" %}"
          rel="stylesheet">
    <link href="{% static "book/css/familybook.css" %}"
          rel="stylesheet">

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'
            integrity='sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq'
            crossorigin='anonymous'
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
            integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8="
            crossorigin="anonymous"
            defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
            integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
            crossorigin="anonymous"
            defer></script>
    <script src="{% static "book/js/mdb.min.js" %}"
            integrity="sha384-TDz1wiExdTzmwbiPj0PntMaEiZc2YjaaoFL5a2q+vSzq6BO5LiWO33noRgZxMGow"
            defer></script>
    <script src="{% static "book/js/lightbox.js" %}"
            defer></script>
    <script src="{% static "book/js/familybook.js" %}"
            defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcbdhTH80kMO4k_zr7H82_MSJrfmMiFGA&libraries=places&callback=initAutocomplete"
            defer></script>
    <script>
        var errors = [
            {{ request|error_list|safe }}
        ]
    </script>

</head>
<body class="{% block body_class %}{% endblock %}">
{% block page %} {% endblock %}
</body>
</html>